<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{sql.name}}</title>
</head>
<body>
<div>
    <div>
        <a href="/">ツールトップ</a> → <a href="/db/csv">CSV出し</a> → {{sql.name}}
    </div>
    <pre>{{sql.description}}</pre>
    <div>
        <form method="get">
            {{#sql.params}}
            {{description}}: <input type="text" name="{{name}}"><br>
            {{/sql.params}}
            <button type="submit" formaction="/db/csv/{{sql.id}}/download">CSVダウンロード</button><br>
            <button type="submit" formaction="/db/csv/{{sql.id}}/view">このまま表示</button><br>
        </form>
    </div>
</div>
</body>
</html>